#workEdit {
    position: absolute;
    left: 62%;
    top: 50%;
    width: 35%;
    height: 80%;
    transform: translate(0, -50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000060;
}

#pictureContainer {
    position: absolute;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%);
    width: 92%;
    height: 80%;
    border-radius: 20px;
    background-color: #d9d9d9;
}

#pictureDisplay {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3%;
    width: 92%;
    height: 82%;
    border-radius: 5px;
    background-color: #212121;
}

#postPicture {
    position: absolute;
    left: 17%;
    top: 92.5%;
    width: 12%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #212121;
    box-shadow: 0 0 8px 0 #00000060;
}

#postIcon {
    width: 60%;
}

#travelSwitch {
    position: absolute;
    left: 50%;
    top: 92.5%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 10.5%;
    background-color: #212121;
    border-radius: 1000px;
}

#indicator2 {
    position: absolute;
    left: 33%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 55%;
    height: 70%;
    border-radius: 1000px;
}

#pctIconCtn {
    position: absolute;
    left: 33%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27%;
    aspect-ratio: 1 / 1;
    /* background-color: aqua; */
}

#fileIconCtn {
    position: absolute;
    left: 78%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27%;
    aspect-ratio: 1 / 1;
    /* background-color: aqua; */
}

#maximize {
    position: absolute;
    left: 83%;
    top: 92.5%;
    width: 12%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #212121;
    box-shadow: 0 0 8px 0 #00000060;
}

#maxIcon {
    width: 50%;
}

.workBtn {
    position: absolute;
    top:90%;
    transform: translate(-50%, -50%);
    width: 11%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 #00000060;
}

#return {
    left: 15%;
}

#returnIcon {
    width: 55%;
}

#showMsg {
    left: 38%;
}

#msgIcon {
    width: 50%;
}

#saveWork {
   left: 62%;
}

#saveIcon {
    width: 50%;
}

#delWork {
    left: 85%;
    background-color: #ca3d00;
}

#delIcon {
    width: 60%;
}

#workImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}